/* Reset de estilos para mejorar la consistencia entre navegadores */
body,
h1,
h2,
p,
video {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 20px;
}

header {
  background-color: #0e0e0f;
  color: #ecf0f1;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}

.descripcion {
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./imagenes/jugadores.jpg") left top/50% no-repeat,
    url("./imagenes/nutricion.jpeg") right top/50% no-repeat;
}

section {
  margin-top: 20px;
}

video {
  width: 100%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #000;
}

/* Estilo para la barra de progreso del video */
video::-webkit-media-slider {
  background-color: #3498db;
}

/* Estilo para el mensaje de respaldo si el navegador no admite el video */
video::after {
  content: "Tu navegador no soporta el elemento de video.";
  display: block;
  color: #e74c3c;
  font-size: 1.2em;
  margin-top: 10px;
}
